<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.33.0.157554</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {559, 783}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2014-10-28 14:29:54 +0000</string>
	<key>Creator</key>
	<string>flyingsparx</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>ExportShapes</key>
	<array>
		<dict>
			<key>InspectorGroup</key>
			<real>255</real>
			<key>ShapeImageRect</key>
			<string>{{2, 2}, {22, 22}}</string>
			<key>ShapeName</key>
			<string>6790EF7C-2B50-49F0-987C-E3B23074872C-12200-0000ED630083E581</string>
			<key>ShouldExport</key>
			<string>YES</string>
			<key>StrokePath</key>
			<dict>
				<key>elements</key>
				<array>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.5, 0.49999699}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.5, 0.49999699}</string>
						<key>control2</key>
						<string>{-0.480773, 0.37027001}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.46156999, 0.343151}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.442352, 0.31602001}</string>
						<key>control2</key>
						<string>{-0.231024, 0.208235}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.19260401, 0.208235}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.154185, 0.208235}</string>
						<key>control2</key>
						<string>{-0.125361, 0.171441}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.115767, 0.146909}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.106153, 0.122378}</string>
						<key>control2</key>
						<string>{-0.14456999, 0.0242598}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.134974, 0.0119936}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.125361, -0.000270605}</string>
						<key>control2</key>
						<string>{-0.14456999, 0.0242598}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.154185, 0.0242598}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.163785, 0.0242598}</string>
						<key>control2</key>
						<string>{-0.17339, 0.0119936}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.17339, -0.000270605}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.17339, -0.0125368}</string>
						<key>control2</key>
						<string>{-0.183008, -0.086125404}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.183008, -0.086125404}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.19260401, -0.117697}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.19260401, -0.117697}</string>
						<key>control2</key>
						<string>{-0.183008, -0.147449}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.17339, -0.147449}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.163785, -0.147449}</string>
						<key>control2</key>
						<string>{-0.17339, -0.22104201}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.17339, -0.22104201}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.17339, -0.22104201}</string>
						<key>control2</key>
						<string>{-0.192609, -0.36822}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.14456999, -0.392757}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.134976, -0.42954701}</string>
						<key>control2</key>
						<string>{-0.115747, -0.434773}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.096538499, -0.454079}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.096538499, -0.473387}</string>
						<key>control2</key>
						<string>{0.066754296, -0.546974}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.153212, -0.454079}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.18203101, -0.43658701}</string>
						<key>control2</key>
						<string>{0.20124, -0.399795}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.210853, -0.37526599}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.22045401, -0.35073501}</string>
						<key>control2</key>
						<string>{0.249265, -0.27010301}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.23966201, -0.233308}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.23006199, -0.196512}</string>
						<key>control2</key>
						<string>{0.23966201, -0.208777}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.23966201, -0.208777}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.23006199, -0.17197999}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.210853, -0.110655}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.210853, -0.110655}</string>
						<key>control2</key>
						<string>{0.210853, -0.0248015}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.201233, 0.0487905}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.19162899, 0.122378}</string>
						<key>control2</key>
						<string>{0.162816, 0.183704}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.162816, 0.183704}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.162816, 0.183704}</string>
						<key>control2</key>
						<string>{0.201233, 0.22049899}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.210853, 0.22049899}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.220449, 0.22049899}</string>
						<key>control2</key>
						<string>{0.41257399, 0.279228}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.431786, 0.30375499}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.45098299, 0.32830399}</string>
						<key>control2</key>
						<string>{0.50000799, 0.50000501}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.5, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.5, 0.49999699}</string>
					</dict>
				</array>
			</dict>
			<key>TextBounds</key>
			<string>{{0, 0}, {1, 1}}</string>
		</dict>
	</array>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{221.99992, 662}, {275.62686, 59}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>3107</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{222, 590}, {140, 59}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>3106</integer>
			<key>ImageID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{221.5, 513}, {116, 64}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>3105</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{222, 451}, {84, 44}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>3104</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{222, 362}, {103, 59}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>3103</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>3099</integer>
					</dict>
					<key>ID</key>
					<integer>3093</integer>
					<key>Points</key>
					<array>
						<string>{194.49997, 150}</string>
						<string>{194.49988, 93.936798}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>3100</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>3100</integer>
					</dict>
					<key>ID</key>
					<integer>3094</integer>
					<key>Points</key>
					<array>
						<string>{194.49995, 215.25}</string>
						<string>{194.49986, 179}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>3101</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>3101</integer>
					</dict>
					<key>ID</key>
					<integer>3095</integer>
					<key>Points</key>
					<array>
						<string>{194.49995, 280.5}</string>
						<string>{194.49986, 244.25}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>3102</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>3102</integer>
					</dict>
					<key>ID</key>
					<integer>3096</integer>
					<key>Points</key>
					<array>
						<string>{194.49995, 244.25}</string>
						<string>{194.49986, 280.5}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>3101</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>3101</integer>
					</dict>
					<key>ID</key>
					<integer>3097</integer>
					<key>Points</key>
					<array>
						<string>{194.49995, 179}</string>
						<string>{194.49986, 215.25}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>3100</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>3100</integer>
					</dict>
					<key>ID</key>
					<integer>3098</integer>
					<key>Points</key>
					<array>
						<string>{194.49995, 93.936798}</string>
						<string>{194.49988, 150}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>3099</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{148.57465, 22}, {91.8507, 71.936798}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>3099</integer>
					<key>Shape</key>
					<string>6790EF7C-2B50-49F0-987C-E3B23074872C-12200-0000ED630083E581</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.278097</string>
								<key>g</key>
								<string>0.278092</string>
								<key>r</key>
								<string>0.278101</string>
							</dict>
							<key>FillType</key>
							<integer>2</integer>
							<key>GradientAngle</key>
							<real>70</real>
							<key>GradientColor</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>MiddleColor</key>
							<dict>
								<key>b</key>
								<string>0.32549</string>
								<key>g</key>
								<string>0.32549</string>
								<key>r</key>
								<string>0.32549</string>
							</dict>
							<key>MiddleFraction</key>
							<real>0.18253970146179199</real>
							<key>TrippleBlend</key>
							<string>YES</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.425743</string>
								<key>g</key>
								<string>0.425743</string>
								<key>r</key>
								<string>0.425743</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
							<key>ShadowVector</key>
							<string>{0, -5}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{58, 150}, {273, 29}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>3100</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.278097</string>
								<key>g</key>
								<string>0.278092</string>
								<key>r</key>
								<string>0.278101</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>3</real>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf1 Hardware interface}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{58, 215.25}, {273, 29}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>3101</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>3</real>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf1 Software interface}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{58, 280.5}, {273, 29}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>3102</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.278097</string>
								<key>g</key>
								<string>0.278092</string>
								<key>r</key>
								<string>0.278101</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>3</real>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf1 Application data}</string>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>3092</integer>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>6</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image5.png</string>
		<string>image4.png</string>
		<string>image3.png</string>
		<string>image2.png</string>
		<string>image1.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2014-11-03 09:39:12 +0000</string>
	<key>Modifier</key>
	<string>flyingsparx</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAx7X05TU2l6ZT1mZn2WgVMCgUoDhg==</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, 0}, {558, 783}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
